<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>FORMULARIO DE REGISTRO DE PACIENTES</strong>
        </c-card-header>
        <c-card-body>
            <form cForm>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label cLabel for="nombre">Nombre Propietario</label>
                                <input cFormControl
                                       id="nombre"
                                       placeholder ="ingrese nombre"
                                       name="nombre"
                                       [(ngModel)] = "registroModelo.nombres_propietario"
                                       type="text"
                                />
                              </div>
                        </div>

                        <div class="col">
                            <div class="mb-3">
                                <label cLabel for="apellidoP">Apellido Paterno</label>
                                <input cFormControl
                                id="apellidoP"
                                placeholder ="ingrese apellido Paterno"
                                type="text"
                                name="apellidoP"
                                [(ngModel)]= "registroModelo.apellido_paterno"
                                />
                              </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label cLabel for="apellidoM">Apellido Materno</label>
                                <input cFormControl
                                id="apellidoM"
                                 placeholder ="ingrese apellido Materno"
                                type="text"
                                name="apellidoM"
                                [(ngModel)]= "registroModelo.apellido_materno"
                                />
                              </div>
                        </div>            
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label cLabel for="telefono">Telefono</label>
                                <input cFormControl
                                 id="telefono"
                                placeholder="ingrese Telefono"
                                type="number"
                                name="telefono"
                                [(ngModel)]= "registroModelo.telefono"
                                />
                              </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label cLabel for="direccion">Direccion</label>
                                <input cFormControl
                                id="direccion"
                                placeholder ="ingrese Direccion"
                                type="text"
                                name="direccion"
                                [(ngModel)]= "registroModelo.direccion"
                                />
                              </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label cLabel for="mascota">Nombre de la Mascota</label>
                                <input cFormControl
                                id="mascota"
                                placeholder ="ingrese nombre de la mascota"
                                type="text"
                                name="mascota"
                                [(ngModel)]= "registroModelo.nombre_mascota"
                                />
                              </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label cLabel for="especie">Especie</label>
                                <input cFormControl
                                id="especie"
                                placeholder ="ingrese la especie"
                                 type="text"
                                 name="especie"
                                 [(ngModel)]= "registroModelo.especie"
                                />
                              </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label cLabel for="edad">Edad</label>
                                <input cFormControl
                                id="edad"
                                placeholder ="ingrese la edad"
                                type="number"
                                name="edad"
                                [(ngModel)]= "registroModelo.edad"
                                />
                              </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label cLabel for="raza">Raza</label>
                                <input cFormControl
                                id="raza"
                                placeholder ="ingrese la raza"
                                type="text"
                                name="raza"
                                [(ngModel)]= "registroModelo.raza"
                                />
                              </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                              <label cLabel for="genero">Genero</label>
                              <input cFormControl
                              id="genero"
                              placeholder ="ingrese el genero"
                              type="text"
                              name="genero"
                              [(ngModel)]= "registroModelo.sexo"
                              />

                               <!-- <label cLabel for="genero">Genero</label>
                                <select  aria-label="Seleccione un genero" cSelect >
                                  <option></option>
                                  <option value="1">Macho</option>
                                  <option value="2">Hembra</option>    
                                </select> -->
                                
                              </div>
                        </div>
                    </div>
                </div>
         
                
              <div class="mb-3">
                <label cLabel for="usuario">Usuario</label>
                <input cFormControl
                       id="usuario"
                       type="text"
                       name="usuario"
                       [(ngModel)]= "registroModelo.usuario"  
                /> 
                <!--<select  aria-label="Seleccione usuario" cSelect >
                  <option></option>
                  <option value="1">julia</option>
                  <option value="2">Esteban</option>
                  <option value="3">Esther</option>
                </select>-->
              </div>
              <button (click)="guardarRegistro()" cButton class="me-1" color="primary" type="submit">
                Guardar
              </button>
            </form>
        </c-card-body>
      </c-card> 
    </c-col>


    <c-col xs="12">
      <table cTable>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
          <th scope="col">Nombre  Mascota</th>
          <th scope="col">Especie</th>
          <th scope="col">Edad</th>
          <th scope="col">Raza</th>
          <th scope="col">Genero</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
          @for(registro of listaPacientes; track registro;){
            <tr>
              <th scope="row">1</th>
              <td>{{registro.nombres_propietario}}</td>
              <td>{{registro.apellido_paterno}}</td>
              <td>{{registro.apellido_materno}}</td>
              <td>{{registro.telefono}}</td>
              <td>{{registro.direccion}}</td>
              <td>{{registro.nombre_mascota}}</td>
              <td>{{registro.especie}}</td>
              <td>{{registro.edad}}</td>
              <td>{{registro.raza}}</td>
              <td>{{registro.sexo}}</td>
              <td>
              <button cButton color="warning" variant="outline" (click)="verReceta(registro)">Editar</button>
              <button (click)="eliminarRegistro(registro)" cButton color="danger" variant="outline">Eliminar</button></td>
            </tr>  
          }
              
        </tbody>
      </table>
    </c-col>
  </c-row>