<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Formulario de recetas</strong>
      </c-card-header>
      <c-card-body>
          <form cForm>
            <div class="mb-3">
              <label cLabel for="nombre">Nombre</label>
              <input cFormControl
                     id="nombre"
                     placeholder ="ingrese nombre"
                     [(ngModel)] = "recetaModelo.nombre"
                     type="text"
                     name="nombre"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="ingredientes">Ingredientes</label>
              <input cFormControl
                     id="ingredientes"
                     placeholder="ingrese Ingredientes"
                     type="text"
                     name="ingredientes"
                     [(ngModel)] = "recetaModelo.ingredientes"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="porciones">Porciones</label>
              <input cFormControl
                     id="porciones"
                     placeholder="ingrese porciones"
                     type="number"
                     name="porciones"
                     [(ngModel)] = "recetaModelo.porciones"

              />
            </div>
            <div class="mb-3">
              <label cLabel for="usuario">Usuario</label>
              <input cFormControl
                     id="usuario"
                     type="text"
                     name="usuario"
                     [(ngModel)] = "recetaModelo.usuario"
              />
              <!-- <select  aria-label="Seleccione usuario" cSelect >
                <option></option>
                <option value="664407b69616a061c8547132">xiac</option>
                <option value="2">Esteban</option>
                <option value="3">Esther</option>
              </select> -->
            </div>
            <button (click)="guardarReceta()" cButton class="me-1" color="primary" type="submit">
              Guardar
            </button>
          </form>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <table cTable>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ingredientes<th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
        @for ( receta of listaRecetas; track receta; ){
          <tr>
            <th scope="row">1</th>
            <td>{{receta.nombre}}</td>
            <td>{{receta.ingredientes}}</td>
            <td>
              <button cButton color="warning" variant="outline" (click)="verReceta(receta)">Editar</button>
              <button (click)="eliminarReceta(receta)" cButton color="danger" variant="outline">Eliminar</button></td>
          </tr>
        }
      </tbody>
    </table>
  </c-col>
</c-row>
